@font-face {
  font-family: 'Proxima Nova W02';
  src: url(/assets/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix) format('eot'),
    url(/assets/fonts/ProximaNova/ProximaNova-Regular.woff) format('woff'),
    url(/assets/fonts/ProximaNova/ProximaNova-Regular.ttf) format('truetype'),
    url(/assets/fonts/ProximaNova/ProximaNova-Regular.svg#b39f961b-4c68-4114-8a71-76bfe004cf14) format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova W02';
  src: url(/assets/fonts/ProximaNova/b9234758-e038-4622-b531-1e89eef11dc8.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/b9234758-e038-4622-b531-1e89eef11dc8.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/301b29be-a6b5-467a-ba10-926b40436a87.woff2) format('woff2'), url(/assets/fonts/ProximaNova/a01242ac-07ee-44eb-97b4-3f6df729e51a.woff) format('woff'), url(/assets/fonts/ProximaNova/713e8042-cdd9-4f87-b79b-59bb8e43daca.ttf) format('truetype'), url(/assets/fonts/ProximaNova/b39f961b-4c68-4114-8a71-76bfe004cf14.svg#b39f961b-4c68-4114-8a71-76bfe004cf14) format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova W02';
  src: url(/assets/fonts/ProximaNova/98efc59a-892b-4055-a50c-3a62f5f46e88.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/98efc59a-892b-4055-a50c-3a62f5f46e88.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/fc89076c-e531-4a6c-a0a0-cb26387f4260.woff2) format('woff2'), url(/assets/fonts/ProximaNova/0333c78e-0245-4dd1-91f0-95e76486e4fe.woff) format('woff'), url(/assets/fonts/ProximaNova/075af3d9-ba60-4f41-8fa1-fc89feed423d.ttf) format('truetype'), url(/assets/fonts/ProximaNova/7eec8f01-73b9-4a88-a52d-6e36ef34ccec.svg#7eec8f01-73b9-4a88-a52d-6e36ef34ccec) format('svg');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova W02';
  src: url(/assets/fonts/ProximaNova/9e87ad7f-6820-4b24-82f0-00f80e23b088.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/9e87ad7f-6820-4b24-82f0-00f80e23b088.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/301904b9-fe52-494e-aeca-bb946a866993.woff2) format('woff2'), url(/assets/fonts/ProximaNova/ab408b66-5692-4473-b167-5819ca620b83.woff) format('woff'), url(/assets/fonts/ProximaNova/19260682-1047-465b-b29b-66c48ea2e00e.ttf) format('truetype'), url(/assets/fonts/ProximaNova/3943e845-1e8d-442c-b4fd-222b664b7e35.svg#3943e845-1e8d-442c-b4fd-222b664b7e35) format('svg');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Proxima Nova W10';
  src: url(/assets/fonts/ProximaNova/a4999e3a-aee7-4d8f-941d-42cfacb06ad1.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/a4999e3a-aee7-4d8f-941d-42cfacb06ad1.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/900734c7-277f-466b-a32d-2e89b6bb4c0c.woff2) format('woff2'), url(/assets/fonts/ProximaNova/967e80a8-e866-45db-a45b-46bd5a5cd901.woff) format('woff'), url(/assets/fonts/ProximaNova/5941dac3-8a82-4fe3-af6e-38921cbc0d86.ttf) format('truetype'), url(/assets/fonts/ProximaNova/831e7b75-679b-4120-ae9e-d4ea9b0b919c.svg#831e7b75-679b-4120-ae9e-d4ea9b0b919c) format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova W10';
  src: url(/assets/fonts/ProximaNova/480c441c-5f2f-4323-b02f-7bc606cb8826.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/480c441c-5f2f-4323-b02f-7bc606cb8826.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/f95555b7-26d6-4e09-8c69-eb3e3a865b27.woff2) format('woff2'), url(/assets/fonts/ProximaNova/4650234f-c266-4528-a258-6b8343d23110.woff) format('woff'), url(/assets/fonts/ProximaNova/2863c141-0354-4869-bef4-8ca7d60e6828.ttf) format('truetype'), url(/assets/fonts/ProximaNova/d7cad8f0-5565-4736-ade8-47002789b8ab.svg#d7cad8f0-5565-4736-ade8-47002789b8ab) format('svg');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova W10';
  src: url(/assets/fonts/ProximaNova/bae820bd-8b83-4810-b1e3-ab842b18bfc5.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/bae820bd-8b83-4810-b1e3-ab842b18bfc5.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/f8dc2e19-43a0-4292-bb9d-08d2e1aaebea.woff2) format('woff2'), url(/assets/fonts/ProximaNova/cce1b3ec-391c-4fb5-8860-0078520df4f9.woff) format('woff'), url(/assets/fonts/ProximaNova/cabd45bd-b900-4e58-bf0e-aac9a6efe9b4.ttf) format('truetype'), url(/assets/fonts/ProximaNova/7804a64b-4073-4ee3-adfb-d314a3c8a6ed.svg#7804a64b-4073-4ee3-adfb-d314a3c8a6ed) format('svg');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Proxima Nova W15';
  src: url(/assets/fonts/ProximaNova/9682bb7d-efd6-4254-8771-e146c89a72d4.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/9682bb7d-efd6-4254-8771-e146c89a72d4.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/4db8e0c6-4c06-45f0-a821-ec66fa7bf2f3.woff2) format('woff2'), url(/assets/fonts/ProximaNova/a3a867b8-141c-4865-9f8d-6dc5766a6bc5.woff) format('woff'), url(/assets/fonts/ProximaNova/b9d6d5ca-ba9b-4fa1-a81e-366891676e4a.ttf) format('truetype'), url(/assets/fonts/ProximaNova/844c48e5-7a2b-488b-9e47-ff8dda98e5e2.svg#844c48e5-7a2b-488b-9e47-ff8dda98e5e2) format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova W15';
  src: url(/assets/fonts/ProximaNova/cb5f0f95-1865-4557-ae6b-0e9ccc2ed381.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/cb5f0f95-1865-4557-ae6b-0e9ccc2ed381.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/e1b82715-19b5-4f45-a0e8-d3edf4ad52dc.woff2) format('woff2'), url(/assets/fonts/ProximaNova/eb0161c8-594e-41a7-8f41-4c3f9b822f92.woff) format('woff'), url(/assets/fonts/ProximaNova/4ecc8dd1-2bf7-4ff5-a850-0cbd5be239b3.ttf) format('truetype'), url(/assets/fonts/ProximaNova/766f394e-b73a-44e2-816e-1da61c8550b5.svg#766f394e-b73a-44e2-816e-1da61c8550b5) format('svg');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Proxima Nova W15';
  src: url(/assets/fonts/ProximaNova/40b18343-f287-42bc-a93d-3d2ce419f8e4.eot?#iefix);
  src: url(/assets/fonts/ProximaNova/40b18343-f287-42bc-a93d-3d2ce419f8e4.eot?#iefix) format('eot'), url(/assets/fonts/ProximaNova/ec8959f9-c0db-4eff-84e6-0a6c546d43a4.woff2) format('woff2'), url(/assets/fonts/ProximaNova/e33f2c3e-1652-4366-a060-49534a5c9cc7.woff) format('woff'), url(/assets/fonts/ProximaNova/a61b629e-6ed5-4647-8f5b-7479d1ae9ddb.ttf) format('truetype'), url(/assets/fonts/ProximaNova/43852b29-fe22-4990-89f2-9a0040038171.svg#43852b29-fe22-4990-89f2-9a0040038171) format('svg');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url(/assets/fonts/BeaufortforLOL/BeaufortforLOL-Regular.eot?#iefix);
  src: url(/assets/fonts/BeaufortforLOL/BeaufortforLOL-Regular.eot?#iefix) format('eot'),
    url(/assets/fonts/BeaufortforLOL/BeaufortforLOL-Regular.woff) format('woff'),
    url(/assets/fonts/BeaufortforLOL/BeaufortforLOL-Regular.ttf) format('truetype'),
    url(/assets/fonts/BeaufortforLOL/BeaufortforLOL-Regular.svg#43852b29-fe22-4990-89f2-9a0040038171) format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Beaufort for LOL';
  src: url(/assets/fonts/BeaufortforLOL/BeaufortforLOL-Medium.otf?#iefix);
  font-style: normal;
  font-weight: 500;
}

.sticker {
  width: 100px;
  height: 100px;
  background-size: cover;
  display: inline-block;
}

html, body {
  background-color: #252524;
  margin: 0;
  color: #fff;
}

html {
  margin-left: calc(100vw - 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: #fff;
  font-family: "Proxima Nova W02";
}

.pw {
  max-width: 1280px;
  width: 100%;
  display: flex;
}

/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



* {
  box-sizing: border-box;
}
*/