.listItem {
  background-color: #474747;
  display: flex;
  width: 900px;
  margin-bottom: 5px;
  padding: 7px 0;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
.thread-title {
  font-weight: 500;
  margin-bottom: 2px;
  color: #f2f2f2;
}
.smalltext {
  font-size: 0.8em;
}

.meta {
  font-size: 0.85em;
  color: #eaeaea;
}

.link {
  color: #ffed97;
}

.col-1, .col-3, .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col-1 {
  flex: 0 0 50px;
  margin-right: 7px;
}

.col-2 {
  flex: 1 1;
}

.col-3 {
  flex: 0 0 50px;
}

.col-4 {
  flex: 0 0 70px;
}