.container {
  font-family: 'Proxima Nova W02';
  background-color: #ae2e2e;
  color: #fff;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  justify-content: center;
}

.logo {
  font-family: 'Proxima Nova W02';
  font-weight: bold;
}

.menu {
  display: flex;
}

.menuitem {
  margin-left: 15px;
}

.inner {
  display: flex;
  justify-content: space-between;
}