.container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ae2e2e;
  font-family: "Beaufort for LOL";
  padding: 20px 0px;
  margin-top: 30px;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
}

.menuitem {
  flex: 1 0 110px;
  text-align: center;
}

.copyright {
  margin-top: 15px;
}