.container {
  width: 100%;
  font-family: "Beaufort for LOL";
}

.container a {
  color: #ffed97;
}

.outer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner {
  max-width: 980px;
  width: 100%;
}